[coverage:report]
skip_empty = true

[run]
source = .
omit =
	.editorconfig
	.gitattributes
	.gitignore
	.python_version
	config.py
	config-3.py
	LICENSE
	MANIFEST.in
	README.md
	README_EN.md
	.git/*
	.venv/*
    tests/*
    docker/*